body {
    font-family: 'Heebo', sans-serif;
    background-color: rgb(184, 253, 230);
}

.navbar {
    background-color: rgb(58, 56, 56);
}

.card-text {
    font-size: 14px;
}

span.error{ 
    color: red;
    font-size: 0.8em;
}

.headerImg {
    height: 500px;
}

.divisor {
    background-color: rgb(58, 56, 56);
    height: 2px;
    margin: 10px 0px;
    padding: 0px;
}

footer {
    background-color: rgb(58, 56, 56);
    height: 100px;
    color: white;
}

a, a:hover {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.btn-flotante, .btn-flotante:hover {
	font-size: 20px;
	color: white;
    width: 40px;
    height: 40px;
    background-color: rgb(58, 56, 56);
	border-radius: 50%;
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 99;
}

@media (max-width: 767.98px) {

    .headerImg {
        height: 300px;
    }

    .btn-flotante {
		font-size: 14px;
		bottom: 20px;
		right: 20px;
        width: 20px;
        height: 20px;
	}

}